/* body properties */
body {
	background-color: #f3f3f3;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #283747;
}

/* Header section */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px;
	width: auto;
	font-size: 1.2em;
	font-weight: 400;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #3c1874;	
}

/* Titles font */
h1, h2, h3, h4, h4 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* button style */
button {
	padding: 5px 20px;
	margin:auto;
	background-color: #3c1874;
	border: 0px;
	border-radius: 10px;
	color: #f3f3f3;
	font-weight: 500;
	font-size: 1em;
}

/* button when hover style */
button:hover {
	color:#f3f3f3;
	background-color: #784cbe;
}

/* a link on header color*/
header a {
	text-decoration: underline #3c1874;
}

/* Class Header-quiz position */
.header-quiz a {
	text-decoration: none;
	font-size: 1.5em;
}

/* Class Header-score position */
.header-score {
	margin-left: 20px;
}

/* Class Header-score position */
.header-timer {
	margin-right: 20px;
}

/* Class hide content */
.hide {
	display: none;
}

/* Class feedback styles */
.feedback {
	margin-top: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #999999;
	font-style: italic;
}

/* Class center font */
.center {
	text-align: center;
}

/* Class center button */
.center-button {
	display: flex; 
	text-align: center; 
	justify-content: center; 
	align-items: center;
}

/* div block with info */
.wrapper {
	padding-top: 50px;
	margin-left: 25%;
	margin-right: 25%;
}

/* On screens that are 992px wide or less, main-box size */
@media screen and (max-width: 992px) {
	.wrapper {
		padding-top: 40px;
		margin-left: 15%;
		margin-right: 15%;
	}
}

/* On screens that are 600px wide or less, main-box size */
@media screen and (max-width: 600px) {
	.wrapper {
		padding-top: 30px;
		margin-left: 10%;
		margin-right: 10%;
	}
}

/* On screens that are 400px wide or less, main-box size */
@media screen and (max-width: 500px) {
	.wrapper {
		padding-top: 20px;
		margin-left: 4%;
		margin-right: 4%;
	}
}


